@charset "UTF-8";

/*
    Tudo em Html que é (id) em Css vira (#) so pode um elemento
    Tudo em html que é (Class) vira (.) pode varios elementos
*/

body{
  background-color: rgba(134, 255, 164, 0.422);
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: #1b6528;
}
h1#principal{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    background: #3d6144;
    
}
h2{
 
  color: rgb(102, 172, 116);
}
.basico{
  color: rgb(120, 172, 102);
}
.intermediario{
  color: rgb(172, 171, 102);   
}
.avancado{
  color: rgb(172, 102, 102);
}
.destaque{
    color: rgb(0, 13, 255);
}