@charset "UTF-8";

 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
 }
h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(158, 158, 158);
}
